.dynamic-text-container-box{
	background-color: rgba(54,56,60,0.7);
	z-index:1;
	border-radius:12px;
	letter-spacing: 2px;
}
	
.dynamic-text-container{
	padding-left: 5%;
	color:white !important; 
	padding-bottom: 3%;
}

.text-inside-header-picture{
	margin-top: -200px;
	padding-bottom: 15%;
}
.country-city-offices{
  padding-top: 2%;
  padding-bottom: 5%;
}
.office-details-manila{
  padding-top: 2%;
}
.textarea-input{
	border: 2px solid #DCDCDC !important;
}
#head-2{
  display:none;
}
#head-3{
  display:none;
}
.form-control {
    border: 0;
    border-bottom: 2px solid #DCDCDC;
    box-shadow: none;
    margin-top:5%;
}
.form-control:active {
	border: 0;
  border-bottom: 2px solid #DCDCDC;
  box-shadow: none;
}
.submit{
	font-size: 14px;
	border-radius: 8px;
  background: linear-gradient(to top left, #b31f10 20%, #950904 90%);
	color:white;
	 transition: all 0.5s;
  	cursor: pointer;
  	margin: 5px;
}
.submit span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.submit span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.submit:hover span {
  padding-right: 25px;
  color:white;
}

.submit:hover span:after {
  opacity: 1;
  right: 0;
}
ul{
	list-style: none;
}
.country{
	border-left: 5px solid red;
	padding-left: 5%;
	font-size: 1.5em;
}
li{
	text-align: left;
}
.inline-header{
	display:inline;
}
.top-header{
	border-bottom: 3px solid #DCDCDC;
}

a {
    color: black;
    text-decoration: none;
}
.img-line{
  display: none;
}
a:hover 
{
     color:black; 
     text-decoration:none; 
     cursor:pointer;  
}
.img-border {
    margin-top: -20%;
    width: 104%;
    margin-left: -4%;
    display: block;
}
.header{
  height: 50%;
  width:100%;
}

.office-details-cubao h4{
 line-height: 20px;
}

#cont-2, #map-2, #cont-3, #map-3{
  display: none;
}


/*------------------------------------------------ MEDIA QUERIES------------------------------------- */ 

@media screen and (max-width: 991px) and (min-width: 720px) {

  .our-offices{
    display: none
  }

  .country-city-offices{
    display: none;
  }
 .img-line{
  display: block;
}
  .img-border{
    display: none;
  }
}


@media screen and (max-width: 719px) and (min-width: 320px) {
  /*IMAGE AND ARROW */

  .img-border{
    display: none;
  }
 /* -- END -- */
 .img-line{
  display: block;
}
 .SayHello h1{
    font-size: 28px;
  }

  .our-offices-mobile h1{
    font-size: 28px;
   }

  .map-container{
    padding: 0;
    padding-top: 5%;
  }
  .details-mobile-container{
    padding-right: 10%;
    padding-left: 10%;
  }
      
  .submit{
    margin: 12px auto;
    width: 265px;
    margin-bottom: 40px;
    padding: 12px;
    border-radius: 6px;
  }
  #map-mobile-2{
    display:none;
  }
  #map-mobile-3{
    display:none;
  }

  h4{
    line-height: 30px;
  }

  .office-details-mobile{
    margin: 0;
    padding: 0;
  }
  
  /* remove DESKTOP VERSION when mobile */
  .our-offices{
    display: none
  }

  .country-city-offices{
    display: none;
  }

  .text-inside-header-picture{
    margin-top: -200px;
    padding-bottom: unset;
  }

}
