.img-border{
  margin-top: -17%;
  width:105%;
}
.header{
  height: 90%;
  width:100%;
}
.counters{
	color:white;
	padding-left: 5%;
	
}
.counter{
	font-weight: bold;
}
.counter-container{
	border-right: solid 2px white;
}
.counter-container-infinity{
	padding-top: 19;
}

.counter-label{
	color:white;
	padding-left: 5%;
	padding-bottom: 2%;
	
}
.labels{
	border-bottom: 5px solid red;
	border-radius:3px;
}
.fblink{
	background: linear-gradient(to top left, #800000 0%, #ff0000 100%);
	 display: inline-block;
	 color:white;
	 border-radius: 8px;
	 width:50%;
	 height:40;
	 font-size: 120%
}
.link-button{
	padding-left: 5%;
}
.Top-header-message{
	letter-spacing: 2px;
}
.images-dual{
	height:50%;
}
.dynamic-text{
	background-color:black;
	z-index:1;
	opacity: 0.7;
	border-radius:12px;
	letter-spacing: 2px;
}
	
.dynamic-text-container{
	padding-left: 5%;
	color:white;
	padding-bottom: 3%;
}

.text-inside-header-picture{
	margin-top: -430px;
	padding-bottom: 15%;
}
.about-font {
  font-size: large;
  margin-bottom: 25px;
}

.img-border{
  margin-top: -17%;
  width:105%;
}

#photo {
  max-width: 100%
  height: auto;
  margin: 60px auto 60px auto;
  margin-bottom: 50px;
  margin-left: 25px;
  display: inline-block;
  width: 50%;

}

.center {
  margin-right: 60px;
  margin-left: 50px;
}

#icon {
  width: unset !important;
  height: 75px !important;
  margin-top: 25px;
  margin-bottom: 25px;
}

#p-commit {
  margin-bottom: 25px;
}

#promo-pict {
  margin-top: 25px;
  margin-bottom: 25px;
}

.moreinfo-btn {
  background: linear-gradient(to top left, #800000 0%, #ff0000 100%);
  display: inline-block;
  color:white;
  margin-top: 50px;
  margin-bottom: 50px;
}

.home-pic-container {
    padding: 25px 0px;
}

.home-pic {
  width: 100%;
  height: 450px;

}

.home-pic img {
  height: inherit;
  width: 100%;
  margin: 20px;
}

.icon-container{
  width: 20%;
  float: left;
  display: inline-block;
}

.icon-container p{
  font-size: 20px;
}

@media only screen and (min-width: 370px) and (max-width: 480px) {
  .icon-container{
    width: 100%;
  }
}
