.img-border{
  margin-top: -17%;
  width:105%;
}
.header{
  height: 700px;
  width:100%;
}
.counters{
	color:white;
	padding-left: 5%;
	
}
.counter{
	font-weight: bold;
}
.counter-container{
	border-right: solid 2px white;
}
.counter-container-infinity{
	padding-top: 19;
}

.counter-label{
	color:white;
	padding-left: 5%;
	padding-bottom: 2%;
	
}
.labels{
	border-bottom: 5px solid red;
	border-radius:3px;
}
.fblink{
	background: linear-gradient(to top left, #800000 0%, #ff0000 100%);
	 display: inline-block;
	 color:white;
	 border-radius: 8px;
	 width:50%;
	 height:40;
	 font-size: 120%
}
.moreinfo{
	 background: linear-gradient(to top left, #800000 0%, #ff0000 100%);
	 display: inline-block;
	 color:white;
	 border-radius: 8px;
	 width:25%;
	 height:40;
	 font-size: 120%;
}
.link-button{
	padding-left: 5%;
}
.Top-header-message{
	letter-spacing: 2px;
}
.images-dual{
	height:50%;
}
/* Dynamic Text on Image Header */
.dynamic-text-container-box{
	background-color: rgba(54,56,60,0.7);
	z-index:1;
	border-radius:12px;
	letter-spacing: 2px;
}
	
.dynamic-text-container{
	padding-left: 5%;
	color:white !important; 
	padding-bottom: 3%;
}

.text-inside-header-picture{
	margin-top: -480px;
	padding-bottom: 15%;
}


.about-font {
  font-size: large;
  margin-bottom: 25px;
}

.img-border{
  margin-top: -17%;
  width:105%;
}

#photo {
  max-width: 100%
  height: auto;
  margin: 60px auto 60px auto;
  margin-bottom: 50px;
  margin-left: 25px;
  display: inline-block;
  width: 50%;

}

.center {
  margin-right: 60px;
  margin-left: 50px;
}

#icon {
  width: unset !important;
  height: 75px !important;
  margin-top: 25px;
  margin-bottom: 25px;
}

#p-commit {
  margin-bottom: 25px;
}

#promo-pict {
  margin-top: 25px;
  margin-bottom: 25px;
}

.moreinfo-btn {
  background: linear-gradient(to top left, #800000 0%, #ff0000 100%);
  display: inline-block;
  color:white;
  margin-top: 50px;
  margin-bottom: 50px;
}

.home-pic-container {
    padding: 25px 0px;
}

.home-pic {
  width: 100%;
  height: 450px;

}
.promo-pic{
 	width: 100%;
 	height: 420px;
 	border-bottom-left-radius: 12px;
	border-top-left-radius: 12px;
}
.home-pic img {
  height: inherit;
  width: 95%;
  margin: 20px;
}

.icon-container{
  width: 20%;
  float: left;
  display: inline-block;
}

.icon-container p{
  font-size: 20px;
}

.whole-page{
	padding:0;
}
.promo-desc{
	-webkit-align-content: center;
    align-content: center;
    background-color: #d54b39;
    height: 420px;
    border-bottom-right-radius: 12px;
	border-top-right-radius: 12px;
	letter-spacing: 2px;
}
.dynamic-promo-text{
	line-height: 1.8;
	padding-bottom: 5%;
	padding-left: 5;
	padding-right: 5;
}

.dynamic-promo-title{
	padding-bottom: 5%;
	padding-top: 10%;
}
div.promos{
	color:white;
	width:100%;
	padding-bottom: 5%;
}
.testimony-description{
	padding-top: 5%;
}
.promo-pic-container{
	padding-right: 0;
	border-bottom-left-radius: 12px;
	border-top-left-radius: 12px;
}
.testimony-picture{
	height:335px;
	width:370px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.picture-header{
	padding-bottom: 5%;
}
.testimony-content{
	padding-bottom: 7%;
}
.testimony-header{
	padding-bottom: 5%;
}
.promos-header{
	padding-bottom: 5%;
}
.sender-name{
	padding-top: 5%;
}
blockquote {
font-family: Georgia, serif;
font-size: 18px;
font-style: italic;
margin: 0.25em 0;
padding: 0.35em 40px;
line-height: 1.45;
position: relative;
color: #383838;
border:none;
}

blockquote:before {
display: block;
padding-left: 10px;
content: "\201C";
font-size: 80px;
position: absolute;
left: -20px;
top: -30px;
color: #7a7a7a;
}
blockquote:after {
    font-family: Georgia, serif;
    position: absolute;
   /* display: block; don't use this, it raised the quote too high from the bottom - defeated line-height? */
    float:right;
    line-height: 1;
    right:60;
    bottom: 6px;
    content: "\201D";
    font-size: 80px;
    color: #7a7a7a;
}

blockquote cite {
color: #999999;
font-size: 14px;
display: block;
margin-top: 5px;
}
.events-content{
	border-radius: 6px;
	margin-right: 3%;
	height: 450px;
	width: 300px;
	box-shadow: 2px 2px 2px 2px #B0B0B0;	
	margin-top: 2%;

}
.events-content:hover{
	background-color:#d64c39;
	color:white !important;
}
.events-content:hover p{ color:white }
.events-content-container{
	text-align:center;
	padding-left: 2%;

}
.details{
	padding-top: 5%;
	letter-spacing: 2px;
}
.events-header{
    color:gray;
}
.event-img{
	width:111.5%;
	margin-left: -6%;
	height:40%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.submit{
	font-size: 14px;
	border-radius: 8px;
	background: linear-gradient(to top left, #800000 0%, #ff0000 100%);
	color:white;
	transition: all 0.5s;
  	cursor: pointer;
  	margin: 5px;
  	position: absolute;
	bottom:   15;
	left: 100;
}
.home-page-events{
	padding-left: 6%;
	padding-bottom: 5%;
}
