.img-border{
  margin-top: -17%;
  width:105%;
}
.header{
  height: 50%;
  width:100%;
}
body{
	background-color: white;
}
hr{
	background-color:#cccccc;
	color:#cccccc;
}
.legend{
	background-color:#f2f2f2;
	width:100%;
	padding-top: 2%;
}
.company-whole{
	box-shadow: 5px 5px 5px grey;
	height:95%;
}
.qualifications{
	padding-top: 2%;
}
.img-map{
	height:100%;
}
