.top-prefooter-content{
  background-color: #800000;
  color:white;
  letter-spacing: 2px;
  height:70px;
}
.prefooter{
  width: 100%;
  
}
.applynow-button{
  border-radius: 8px;
  border: 2px solid white;
  background-color: transparent;
  color:white;
  font-size: 12px;
}
.banner-paragraph{
  color: white;
  display:inline-block;
  margin-top: 25px;
  padding-right: 2%;
}
.bottom-prefooter-content{
  height:150px;
  letter-spacing: 2px;
}
.subscribe-paragraph{
  display:inline-block;
  margin-top: 65px;
}
.subscribe-button{
  background-color: #800000;
  color: white;
  margin-left: -7px;
}
.input-email-subscribe{
  border: 2px solid gray;
  border-radius: 4px;
}