.top-prefooter-content{
  color:white;
  letter-spacing: 2px;
  height:70px;
  background-image: url("/image/photos/Internship.jpg");
  opacity: 0.3;
  background-size: 100% 100%;
}
.prefooter{
  width: 100%;
  
}
.bg-color{
   background-color: #800000;
}
.applynow-button{
  border-radius: 8px;
  border: 2px solid white;
  background-color: transparent;
  color:white;
  font-size: 12px;
}
.banner-paragraph{
  color: white;
  display:inline-block;
  margin-top: 25px;
  padding-right: 2%;
}
.bottom-prefooter-content{
  height:150px;
  letter-spacing: 2px;
}
.subscribe-paragraph{
  display:inline-block;
  margin-top: 65px;
  color:#C8C8C8 ;
}
.subscribe-button{
  background-color: #800000;
  color: white;
  margin-left: -7px;
  height:45px;
  display:inline-block;
}
.input-email-subscribe{
  border: 2px solid   #C8C8C8;
  border-radius: 4px;
  height:45px;
  width:20%;
  color:#C8C8C8 ;
  display:inline-block;
}
::placeholder { 
    color:  #C8C8C8;
    opacity: 1; 
}