.top-prefooter-content{
  color:white;
  letter-spacing: 2px;
  height:70px;
  
}
.prefooter{
  width: 100%;
  
}
.bg-color{
  background-image: url("/image/prefooter-image.png");
  background-size: 100% 100%;
}
.applynow-button{
  border-radius: 8px;
  border: 2px solid white;
  background-color: transparent;
  color:white;
  font-size: 12px;
}
.applynow-button:hover{
  color:white;
}
.banner-paragraph{
  color: white;
  display:inline-block;
  margin-top: 25px;
  padding-right: 2%;
}
.bottom-prefooter-content{
  height:150px;
  letter-spacing: 2px;
}
.subscribe-paragraph{
  display:inline-block;
  margin-top: 65px;
  color:#C8C8C8 ;
}
.subscribe-button{
  background: linear-gradient(to top left, #b31f10 20%, #950904 90%);
  color: white;
  margin-left: -7px;
  height:45px;
  display:inline-block;
}
.subscribe-button:hover{
  color:white;
}
.input-email-subscribe{
  border: 2px solid   #C8C8C8;
  border-radius: 4px;
  height:45px;
  width:20%;
  color:#C8C8C8 ;
  display:inline-block;
}
::placeholder { 
    color:  #C8C8C8;
    opacity: 1; 
}



/* ---------------------------- MEDIA QUERIES --------------------- */

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .top-prefooter-content{
    height:70px;
  }
}

@media screen and (max-width: 719px) and (min-width: 320px) {

  .top-prefooter-content{
    height:120px;
  }
  .top-prefooter-content-2{
    height:65px;
  }
  #btn-large{
    display: none;
  }

  .subscribe-paragraph{
    font-size: 14px;
  }

  .bottom-prefooter-content{
    height:200px;
  }

  .input-email-subscribe{
    width: 62%;
  }


}

@media screen and (max-width: 991px) and (min-width: 720px) {
  #btn-small{
    display: none;
  }
}
